/* Variables para modo claro */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --primary-color: #ff6347;
    --secondary-color: #e5533d;
    --border-color: #000000;
    --box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.49);
    --linea: #000000;
    --textonegro: #000000;
    --a-navbar: #808080;
    
}

/* Variables para modo oscuro */
[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #ffffff;
    --primary-color: #1e90ff;
    --secondary-color: #4a90e2;
    --border-color: #ffffff;
    --box-shadow: 0px 10px 5px 0px rgba(255,255,255,0.49);
    --linea: #ffffff;
    --textonegro: #ffffff;
    --a-navbar:#ffffff;
}

  /* CSS para personalizar la barra de scroll */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f9c5ce; 
}

::-webkit-scrollbar-thumb {
    background: #f9c5ce; 
}

::-webkit-scrollbar-thumb:hover {
    background: #f9c5ce; 
}

* {
    scrollbar-width: thin;
    scrollbar-color: #f9c5ce #f1f1f1;
}



body {
    font-family: "Wix Madefor Text", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}
p{
    font-family: "Lato", sans-serif;
}


.header{
    width: 100%;
    height: 100vh; /*CAMBIAR A AUTO*/
    display: flex;

}


.navbar{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    border: 2px solid var(--border-color);
    border-radius: 24px;
    background-color: var(--background-color);
    position: absolute;
    top: 20px;
    left: 60px;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.49);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.49);
    z-index: 2;
    


}

.nav-links {
    padding: 10px 10px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    font-size: 25px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--a-navbar);
    text-decoration: none;
    margin-left: 30px;
    transition: transform 0.3s ease, color 0.3s ease; 
}

.nav-links a:hover {
    transform: scale(1.04); 
    color: #ff6347; 
}
.btn-nav{
    display: inline-block;
    width: 50px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #ff6347; 
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 30px;

}

.btn-nav:hover {
    background-color: #e5533d; 
    transform: scale(1.05); 
}

.navbar_logo{
    width: 130px;
    
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navbar_logo img {
    width: 100px;
    height: 114px;
    margin-left: 20px;
    animation: girar 10s infinite linear; /* Aplica la animación continua */
}

/*Darkmode*/
/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 4em;
    --height-of-switch: 3em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    margin-left: 30px;


}

  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

  /* The slider */
.slider-darkmode {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cdcdcf;
    transition: .4s;
    border-radius: 30px;
}

.slider-darkmode:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    transition: .4s;
}

input:checked + .slider-darkmode {
background-color: #303136;
}

input:checked + .slider-darkmode:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}


.imagen-portada{
    width: 60%;
    height: 700px;
    position: absolute;
    z-index: 1;
}
.header_img{
    width: 100%;
    height: 100vh;
    opacity: 0.4;
    border-radius: 40px;
    position: relative;
    z-index: 1;
}
.header_img img{
    width: 100%;
    height: 100%;
    background-position: cover;

}

.contenido{
    width: 100%;
    height: 300px;
    padding-top: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content_titulo{
    z-index: 2;
    top: 200px;
    left: 50px;
    width: 700px;
    height: 300px;
}
.content_titulo h1{
    font-size: 70px;
    font-family:"Nunito", sans-serif;
    font-weight: bold;
    background: linear-gradient(90deg, 
                #D7BCE8, /* Morado Pastel */
                #FFB3B3, /* Rojo Pastel */
                #ADD8E6, /* Azul Pastel */
                #FFD1A3, /* Naranja Pastel */
                #FFFFB3, /* Amarillo Pastel */
                #B3E6B3  /* Verde Pastel */
                );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
}
.content_titulo p{
    font-size: 20px;
    color: var(--text-color);
    font-weight: 400;
}
.btn-contenido {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #ff6347; /* Color del botón (puedes cambiarlo) */
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
}

.btn-contenido:hover {
    background-color: #e5533d; /* Color de hover */
    transform: scale(1.05); /* Ligero escalado al pasar el cursor */
}

.video {
    width: 550px;
    height: 300px;
    background-color: rgb(253, 253, 253);
    z-index: 2;
    border: 2px solid #ADD8E6;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.49);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.49);
    margin-left: 10vh;
    position: relative;
    overflow: hidden; 
    opacity: 0.9;
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/*Nosotros*/


.nosotros {
    padding: 20px;
    padding-top: 150px;
    text-align: center;
}

.nosotros_content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.nosotros_img {
    margin-right: 40px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s, opacity 1s;
    width: 400px;
}




.nosotros.animate .nosotros_img {
    transform: translateX(0); 
    opacity: 1; 
}

/* Estilos del texto */
.nosotros_texto {
    max-width: 50%;
    transform: translateX(100%); 
    opacity: 0; 
    transition: transform 1s, opacity 1s;
    padding-top: 100px;
}

.nosotros.animate .nosotros_texto {
    transform: translateX(0); 
    opacity: 1; 
}


.nosotros_texto h2 {
    font-size: 50px;
    font-weight: 400;
    position: relative;
    font-family: "Wix Madefor Text", sans-serif;
    margin-bottom: 20px; 
}

.nosotros_texto h2::after {
    content: '';
    display: block;
    width: 50px; /* Ajusta el ancho según sea necesario */
    height: 2px; /* Ajusta el grosor de la línea */
    background-color: var(--linea);
    margin: 10px auto 0; /* Centra la línea y añade margen superior */
}
.nosotros_texto p {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 300;

}

.nosotros-circulos{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 300px;
    gap: 30px;
}
.circulo{
    background-color: #f9c5ce;
    border-radius: 100%;
    width: 130px;
    height: 130px;
}
.circulo:nth-child(2){
    background-color:#acdeb3;
}

.circulo img{
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    width: 70px;
    height: 70px;
}

.circulo p{
    font-family: "Lato", sans-serif;
    font-size: 18px;
    padding-top: 10px;
    font-weight: 300;
    text-transform: uppercase;


}

/* Equipo de trabajo */
.equipo {
    padding: 20px;
    text-align: center;
    position: relative;
}

.slider {
    overflow: hidden;
    width: 100%;
    position: relative;
}

/* Contenedor que contiene todas las cartas */
.equipo_content {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.card {
    background-color: white;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.49);
    margin: 10px;
    width: 200px; /* Ajusta el ancho para hacer las cartas más pequeñas */
    text-align: center;
    padding: 20px;
    flex: 0 0 22%; /* Asegura que se muestren 3 cartas en el contenedor */
    color:#000000;
}

.card_img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.card_info {
    margin-top: 10px;
}

/* Botones prev y next ocultos por defecto */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, opacity 0.3s ease;
    opacity: 0; /* Ocultar los botones por defecto */
    z-index: 10; /* Asegurar que los botones estén por encima del contenido */
}

.prev:hover, .next:hover {
    background-color: #f0f0f0;
}

/* Mostrar los botones cuando el mouse esté sobre el slider */
.slider:hover .prev,
.slider:hover .next {
    opacity: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev svg, .next svg {
    fill: none;
    stroke: #333;
}

.prev:hover svg, .next:hover svg {
    stroke: #007BFF;
}

/*Footer*/

.footer{
    width: 100%;
    height: auto;
}

.footer img{
    width: 100%;
    height: auto;
}

/*Galeria de imagenes*/
.gallery-section {
    padding: 20px;
    text-align: center;
}

.gallery-section h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

/* Contenedor de la galería */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    justify-items: center;
    align-items: center;
}

/* Estilos para cada imagen de la galería */
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    display: flex;

}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 600px) {
    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}


/* Card Informacion */
.section-card-info {
    width: 1200px;
    height: 400px;
    margin: 200px auto;
    display: flex;
    justify-content: space-between; /* Espaciado igual entre los divs */
    gap: 20px; /* Espaciado adicional entre los divs */
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.49);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.49);
    z-index: 2;
    box-sizing: border-box; /* Para que el padding no afecte el tamaño */
}

.div-card-info {
    width: calc(33.33% - 20px); /* Tres columnas con espacio entre ellas */
    background-color: #007BFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea el contenido al principio (arriba) */
    align-items: flex-start; /* Alinea el contenido a la izquierda */
    border-radius: 10px;
    padding: 20px; /* Aumentar el padding para más espacio interior */
    margin: 10px;
}

.section-card-info .div-card-info:nth-child(1) {
    background-color: #D7BCE8; /* Azul */
}

.section-card-info .div-card-info:nth-child(2) {
    background-color: #FFB3B3; /* Verde */
}

.section-card-info .div-card-info:nth-child(3) {
    background-color: #ADD8E6; /* Amarillo */
}

/* Ajuste del contenido */
.div-card-info h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    margin-bottom: 5px; /* Reducir margen inferior */
    text-align: left; /* Alinea el texto a la izquierda */
}

.div-card-info p {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin-top: 0; /* Eliminar margen superior */
    text-align: left; /* Alinea el texto a la izquierda */
}

/* Estilos del botón "Leer más" */
.btn-read-more {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background-color: #8983f7;
    transition: background-color 0.3s ease;
    text-align: left; /* Alinea el botón a la izquierda */
}





/*span*/

.morado{
    color:#8983f7;
}
.rosado{
    color:#f9c5ce;
    font-weight: 600;
}