/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth; /* Hace que el desplazamiento sea suave */
}

body {
    overflow-x: hidden;

    background-color: #FFFFFF;
    background-color: #FFFEFE;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='750' height='375' viewBox='0 0 1600 800'%3E%3Cpath fill='%23C6A4CF' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%23FF8792' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    



}




/* Estilos de contraste alto */
/* Modo normal */

  

  
/* Personaliza el scroll */
::-webkit-scrollbar {
    width: 12px; /* Ancho del scroll */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track */
}

::-webkit-scrollbar-thumb {
    background-color: #ffabb4; /* Color del scroll */
    border-radius: 10px; /* Radio del scroll */
    border: 3px solid #f1f1f1; /* Color de los bordes */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ff8792; /* Color del scroll al pasar el ratón */
}


.header.scrolled {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #fffefe 100%);
        transition: background-color 0.3s ease;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.logo img {
    width: 60px;

}


.navbar a {
    display: inline-block;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: #c6a4cf;
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: 0.5s;
    animation: slideSci 0.5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.social-media a:hover {
    border-color: #f9c5ce;
}

.social-media a i {
    font-size: 24px;
    color: #000000;
    transform: rotate(-45deg);
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 8% 0;
    justify-content: space-between;
    overflow: hidden;
}

.home-content {
    max-width: 630px;
}

.home-content h1 {
    font-size: 50px;
    line-height: 1.2;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    font-size: 40px;
    color: #c6a4cf;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    font-size: 16px;
    margin: 15px 0 30px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1.6s;
}

/* btn nuevo*/
/* From Uiverse.io by cssbuttons-io */ 
.button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    cursor: pointer;
    background: #c6a4cf;
    color: #fff;    
    z-index: 1;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
  }
  
  .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #ffabb4;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button:hover {
    color: #ffffff;
    border: 1px solid #ffabb4;
  }
  
  .button:hover:before {
    top: -35%;
    background-color: #ffabb4;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button:hover:after {
    top: -45%;
    background-color: #ffabb4;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  

.home-img {
    position: relative;
    width: 450px;
    height: 450px;
    transform: rotate(45deg);
    right: -12%;
}



    
@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo-img {
    animation: girar 80s infinite linear;
}




.home-img .rhombus {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 25px solid #c6a4cf;
    box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: zoomOut 1s ease forwards;
    animation-delay: 1.8s;
}

.home-img .rhombus img {
    position: absolute;
    top: 110px;
    left: -250px;
    max-width: 750px;
    transform: rotate(-45deg);

}

.home .rhombus2 {
    position: absolute;
    top: -25%;
    right: -25%;
    width: 800px;
    height: 700px;
    background: #c6a4cf;
    transform: rotate(-45deg);
    z-index: -1;
    opacity: 0;
    animation: rhombus2 1s ease forwards;
    animation-delay: 1.8s;
}


@media (max-width: 768px) {
    .home {
        padding: 110px 5%;
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .home-content {
        max-width: 100%;
        padding: 0 10px;
    }

    .home-content h1 {
        font-size: 36px;
        line-height: 1.3;
    }

    .home-content h3 {
        font-size: 28px;
        padding-top: 10px;
    }

    .home-content p {
        font-size: 14px;
        padding-top: 20px;
    }

    .btn {
        padding: 8px 20px;
        font-size: 14px;
    }

    .home-img {
        width: 380px;
        height: 390px;
        transform: rotate(0);
        right: 0;
        margin-top: 20px;
    }

    .home-img .rhombus {
        border: 10px solid #f9c5ce; 
    }

    .logo-img{
        justify-content: center;
        align-items: center;

    }

    .home-img .rhombus img {
        position: relative;
        left: auto;
        top: auto;
        max-width: 300px;
        transform: rotate(0);
    }



    .home .rhombus2 {
        width: 300px;
        height: 400px;
        top: -10%;
        right: -20%;
        background-color: #f9c5ce;;
    }
}

@media (max-width: 400px) {
    .home .rhombus2 {
        width: 120px;
        height: 400px;
        top: -10%;
        right: -20%;
        background-color: #f9c5ce;;
    }
}



.hamburger, .close {
    font-size: 30px;
    cursor: pointer;
    z-index: 100;
    position: fixed;
    top: 30px;
    right: 30px;
}

.hamburger {
    display: none;
}

.close {
    display: none;
}

.navbar.active ~ .hamburger {
    display: none;
}

.navbar.active ~ .close {
    display: block;
}

@media (max-width: 768px) {
    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 70%;
        background: rgba(253, 251, 251, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
        transition: all 0.5s;
        z-index: 99;
        border-radius: 40px;
    }

    .navbar.active {
        right: 0;
    }

    .navbar a {
        margin: 15px 0;
        font-size: 25px;
        opacity: 1;
        animation: none;
    }

    .hamburger {
        display: block;
    }
    .social-media {
        opacity: 0; /* Initially hidden */
    }
    .navbar.active .social-media {
        opacity: 1; /* Show when active */

    }
    


}
/* KEYFRAMES ANMARTION*/

@keyframes  slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes  slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes  slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes  slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes  slideSci {
    0%{
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }
    100%{
        transform: translateX(0) rotate(45deg);
        opacity: 1;
    }
}

@keyframes zoomOut{
    0% {
        transform: scale(1.1);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes rhombus2{
    0% {
        right: -40%;
        opacity: 0;
    }
    100%{
        right: -25%;
        opacity: 1;
    }
}

/* NOSOTROS */

.nosotros {
    padding: 20px;
    padding-top: 150px;
    padding-bottom: 300px;
    text-align: center;
    height: auto;
    display: flex;

}

.nosotros_content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.nosotros_img {
    margin-right: 40px;
    opacity: 0;
    width: 800px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px ;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

.nosotros_texto {
    max-width: 50%;
    padding-top: 100px;
    opacity: 0;
}
.nosotros_texto h2 {
    color: #1a1a1a;
    font-weight: 200;
}

/* Clases para activar las animaciones cuando el elemento sea visible */
.animate-slideRight {
    animation: slideRight 1s ease forwards;
    animation-delay: 0.5s;
}

.animate-slideLeft {
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.5s;
}

.linea-nosotros{
    width: 10%;
    height: 4px;
    background: #c6a4cf;
    margin: 0 auto;
    border: none;


}
.nosotros_texto h2 {
    font-size: 50px;
    font-weight: 400;
    position: relative;
    font-family: "Wix Madefor Text", sans-serif;
    margin-bottom: 20px; 
}

.nosotros_texto h2::after {
    content: '';
    display: block;
    width: 50px; /* Ajusta el ancho según sea necesario */
    height: 2px; /* Ajusta el grosor de la línea */
    background-color: var(--linea);
    margin: 10px auto 0; /* Centra la línea y añade margen superior */
}
.nosotros_texto p {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 300;

}

.btn-nosotros {
    display: inline-block;
    padding: 10px 28px;
    margin-top: 30px;
    background: #c6a4cf;
    border: 2px solid #f9c5ce;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;
}

@media (max-width: 768px) {
    .nosotros {
        display: flex;
        flex-direction: column;
        padding-top: 100px; /* Ajusta el espacio superior si es necesario */
        padding-bottom: 100px; /* Ajusta el espacio inferior si es necesario */
    }

    .nosotros_content {
        flex-direction: column;
    }

    .nosotros_img {
        margin: 0 auto; /* Centra la imagen horizontalmente */
        width: 100%; /* Ajusta la imagen para que no sea tan grande en pantallas pequeñas */
        max-width: 500px; /* Limita el tamaño máximo de la imagen */
        padding-top: 20px; /* Añade un poco de espacio entre el texto y la imagen */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.0); /* Sombra más pequeña para pantallas pequeñas */

    }

    .nosotros_texto {
        max-width: 100%;
        padding-top: 20px;
        padding-bottom: 20px; /* Añade espacio para el texto */
    }

    .nosotros_texto h2 {
        font-size: 40px; /* Ajusta el tamaño del texto para pantallas pequeñas */
    }

    .nosotros_texto p {
        font-size: 18px; /* Ajusta el tamaño del párrafo */
    }
}



/* Galería*/
/* Estilo inicial para el contenedor de la galería */
.gallery-container {
    display: grid;
    gap: 16px;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    opacity: 0; /* Inicialmente invisible para la animación */
    transition: opacity 1s ease, transform 1s ease; /* Transición para opacidad y transformación */
}

/* Clase que se añadirá cuando el contenedor esté en vista */
.animate-gallery {
    opacity: 1; /* Hace visible el contenedor */
    transform: scale(1); /* Puedes ajustar la transformación según la animación deseada */
    animation: zoomOut 1s ease forwards; /* Aplica la animación */
}
/* Contenedor del slider */
.image-slider {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
}

/* Contenedor para las imágenes pequeñas con scroll horizontal */
.image-grid-container {
    overflow: hidden;
    width: 100%;
}
/* Imagen destacada */
.featured-image img {
    width: 100%;
    border-radius: 8px;
}

/* Grid para las imágenes pequeñas */
.image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

/* Estilo para cada imagen dentro del grid */
.image-item img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

/* Efecto hover en las imágenes */
.image-item img:hover {
    transform: scale(1.05);
}
/* Imagen destacada con transición */
/* Imagen destacada con transición */
.featured-image img {
    width: 100%;
    border-radius: 8px;
    transition: opacity 0.5s ease;
    opacity: 1;
}
/* Clase que se aplica durante el cambio de imagen */
.fade-out {
    opacity: 0;
}

/* Botones de navegación */
.prev-btn, .next-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

/* Ocultar los botones si no hay más imágenes a la izquierda o derecha */
.prev-btn:disabled, .next-btn:disabled {
    display: none;
}

/* Responsividad */
@media (max-width: 1200px) {
    .image-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 columnas para pantallas más pequeñas */
    }
}

@media (max-width: 992px) {
    .image-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas para pantallas medianas */
    }
}

@media (max-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas para pantallas pequeñas */
    }
}

@media (max-width: 576px) {
    .image-grid {
        grid-template-columns: 1fr; /* 1 columna para pantallas muy pequeñas */
    }
}


/* Footer */
.footer-area {
    margin-top: 100px;
    padding: 100px 0;
    color: #ffffff;
    position: relative;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="%23C6A4CF"><rect fill="%23FFF" width="100%" height="100%"/><path d="M0 1v99c134.3 0 153.7-99 296-99H0Z" opacity=".5"></path><path d="M1000 4v86C833.3 90 833.3 3.6 666.7 3.6S500 90 333.3 90 166.7 4 0 4h1000Z" opacity=".5"></path><path d="M617 1v86C372 119 384 1 196 1h421Z" opacity=".5"></path><path d="M1000 0H0v52C62.5 28 125 4 250 4c250 0 250 96 500 96 125 0 187.5-24 250-48V0Z"></path></svg>');
    background-repeat: no-repeat;
    background-size: cover; /* Asegura que ocupe todo el footer */
    background-position: center; /* Centra la imagen en el footer */
}


.main{
    width: 1200px;
    margin: 0 auto;
}

.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.single-footer{
    width: 230px;
    
}
.single-footer:first-child{
    width: 400px;
}

.footer-menu ul li a {
    text-transform: uppercase !important; /* Asegura que tenga prioridad sobre otros estilos */
}

.single-footer h4{
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 20px;
}
.single-footer ul{
    list-style: none;
}
.single-footer ul li{
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
    
}
.single-footer a{
    text-decoration: none;


}
.single-footer a:hover{
   color:#8983f7;
}
.single-footer p{
    color: #000;
}


/* Eliminar la propiedad text-transform: uppercase de los enlaces generales */
.single-footer ul li a {
    color: #070707;
    text-transform: none; /* Remueve cualquier transformación de texto */
}



.single-footer ul li a i{
    position: absolute;
    left: 0;
    top: 5px;
    color: #000000;

}

.footer-social{
    margin-top: 20px;
}


.footer-social a{
    color: #333;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px ;
    margin-right: 10px;
    font-size: 20px;
}

.footer-social,  a:hover{
    color: #673ab7;
    border-color:#673ab7 ;

}

.copy{
    text-align: center;
    text-transform: capitalize ;
    margin-top: 50px;
}


/* Estilos para pantallas medianas (tabletas y más pequeñas) */
@media (max-width: 992px) {
    .main {
        width: 100%;
        padding: 0 20px;
    }

    .footer {
        justify-content: space-between;
    }

    .single-footer {
        width: 45%;
        margin-bottom: 20px;
    }

    .single-footer:first-child {
        width: 100%;
    }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .single-footer {
        width: 100%;
        text-align: center;
    }

    .single-footer ul {
        padding-left: 0;
    }

    .single-footer ul li {
        padding-left: 0;
    }

    .footer-social {
        text-align: center;
    }

    .footer-social a {
        margin-right: 5px;
    }
}



/*span*/

.morado{
    color:#c6a4cf;
}
.rosado{
    color:#f9c5ce;
    font-weight: 600;
}


/* ESTILOS PAGINA NOSOTROS.HTML*/

/*IMAGEN*/
/* Contenedor de la imagen */
.pagina-nosotros-img {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px; /* Puedes establecer un máximo si quieres limitar el tamaño en pantallas grandes */
    overflow: hidden; /* Asegura que la imagen no se desborde */
}

/* Estilo de la imagen */
.pagina-nosotros-img img {
    width: 100%;
    height: auto; /* Mantiene la proporción correcta */
    object-fit: cover; /* Asegura que la imagen se ajuste bien sin distorsionarse */
}
@media (max-width: 768px) {
    .pagina-nosotros-img{
        padding-top: 200px;
    }

}



/*TEXTO */

.pagina-nosotros-texto{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
}
.pagina-nosotros-texto-hr{
    width: 20%;
    margin: 20px auto;
}


/*cards*/
/* Sección principal */
.section-mision-vision {
    width: 80%;
    text-align: center;
    margin: 200px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    flex-wrap: wrap; /* Permite que los elementos se alineen en columnas en pantallas pequeñas */
}

/* Tarjetas de Misión y Visión */
.mision-vision {
    flex: 1;
    max-width: 300px; /* Limita el ancho máximo para evitar que crezcan demasiado */
    min-width: 200px; /* Asegura un ancho mínimo */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

/* Imagen circular */
.circulo-img {
    width: 100%;
}

/* Texto */
.section-texto {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section-texto h2 {
    font-size: 24px;
    color: #7e807f;
}

.section-texto hr {
    width: 50px;
    border: 1px solid #7e807f;
    margin: 10px auto;
}

.section-texto li {
    list-style: none;
    color: #7e807f;
}

.section-texto p {
    font-size: 16px;
    color: #7e807f;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    .section-mision-vision {
        flex-direction: column; /* Cambia el diseño a columnas en pantallas pequeñas */
        gap: 20px; /* Aumenta el espacio entre los elementos */
    }

    .mision-vision {
        max-width: 100%; /* Asegura que las tarjetas ocupen todo el ancho del contenedor */
        min-width: auto; /* Elimina el ancho mínimo para permitir mayor flexibilidad */
    }

    .circulo-img {
        width: 80%; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
    }
}



/* Seccion Equipo*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    animation: slideIn 1s ease-in-out;
}

.container h3{
    font-size: 30px;
    text-align: center;
    color: #000000;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}



.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas grandes */
    gap: 30px;
    margin-top: 200px;
    animation: fadeIn 2s ease-in-out;
}

/* Para pantallas medianas (tablets, etc.) */
@media (max-width: 1024px) {
    .team-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .team-grid {
        grid-template-columns: 1fr; /* 1 columna */
    }
}

.team-member {
    text-align: center;
    animation: zoomIn 1s ease-in-out;
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.team-member img:hover {
    transform: scale(1.1);
}

.team-member h3 {
    margin: 10px 0 5px;
    color: #333;
    animation: fadeIn 1.5s ease-in-out;
}

.team-member p {
    margin: 0;
    color: #666;
    font-size: 14px;
    animation: fadeIn 1.5s ease-in-out;
}

.decoration {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    overflow: hidden;
    animation: fadeIn 2s ease-in-out;
}

.decoration::before,
.decoration::after {
    content: '';
    position: absolute;
    top: -50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, );
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.decoration::before {
    left: -100px;
}

.decoration::after {
    right: -100px;
}


/* Modal Nosotros */
/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* 15% desde la parte superior y centrado horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #aaa;
    cursor: pointer;
}

.close-icon:hover {
    color: #000;
}
.modal-content img {
    border-radius: 2px;
    width: 30%;
    height: auto;
    object-fit: cover;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.modal-content .info {
    text-align: left;
    flex: 1; /* Hacer que la información ocupe el resto del espacio */
}
.modal-content h3 {
    color: #000;

}
.modal-open {
    overflow: hidden; /* Deshabilita el scroll */
}






/* Responsive para el modal */
@media (max-width: 768px) {
    .modal-content {
        flex-direction: column;
        align-items: center;
    }
    
    .modal-content img {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}



/* Estilos para el formulario de contacto con mapa */
.contact-section {
    margin-top: 100px;
    padding: 50px 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-wrapper {
    display: flex;
    max-width: 1200px;
    width: 100%;
    gap: 30px; /* Espacio entre el formulario y el mapa */
}

.contact-container,
.map-container {
    flex: 1;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-container h2 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.subtext {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 18px;
    color: #555;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #a8a7f7; /* Color pastel morado */
}

.input-group input {
    background-color: #ffffff; /* Color pastel rojo */
}

.input-group textarea {
    background-color: #ffffff; /* Color de fondo */
    max-width: 100%; /* Máximo ancho igual al contenedor */
    resize: none; /* Desactivar el cambio de tamaño */
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    width: 100%; /* Asegura que tome todo el ancho disponible */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
}


.btn-submit {
    display: inline-block;
    width: 100%;
    padding: 15px;
    background-color: #c6a4cf; /* Color pastel amarillo */
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #ffabb4;
}


/* Estilos para el mapa */
.map-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map-text {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
    text-align: center;
}

.map-iframe {
    flex: 1;
    height: 100%; /* Hace que el iframe ocupe todo el espacio disponible */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .contact-wrapper {
        flex-direction: column;
    }

    .contact-container {
        padding: 20px;
    }
    
    .contact-container h2 {
        font-size: 28px;
    }

    .btn-submit {
        font-size: 16px;
    }

    .map-container {
        padding: 20px;
    }

    .map-iframe {
        height: 300px;
    }
}

/* Modo Accesible */
/* Botón de accesibilidad flotante */
.accessibility-button {
    position: fixed;
    bottom: 120px;
    left: 10px; /* Añade un pequeño margen a los lados */

    right: 20px;
    background-color: #673ab7;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1001; /* Ajustamos para que esté por encima de la mayoría de los elementos */
    font-size: 30px;
    border: 1px solid #ddd; /* Borde suave */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */


  }
  
  /* Menú de accesibilidad */
  .accessibility-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: #c6a4cf;
    padding: 20px 0;
    text-align: center;
    transition: bottom 0.5s;
    z-index: 1000;
  }
  
  .accessibility-menu.open {
    bottom: 0;
  }
  
  .menu-options {
    display: flex;
    justify-content: space-around;
  }
  
  @media (max-width: 768px) {
    .menu-options {
      flex-direction: column;
    }
  }
  
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .option button {
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: #c6a4cf;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .option p {
    margin: 0;
    font-weight: bold;
  }
  
  /* Botón de cerrar */
  .close-button {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #c6a4cf;
    color: white;
    font-size: 40px;
    padding: 2px 2px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* Resaltar elementos interactivos */
  .interactive {
    outline: 2px solid #ff0000; /* Borde rojo */
    background-color: #f0f0f0;  /* Fondo claro */
    transition: background-color 0.3s ease, outline 0.3s ease;
  }
  
  /* Modo de alto contraste */

  
/* Modo de alto contraste */
/* Modo de alto contraste con fondo más oscuro */
.high-contrast {
    background-color: #1a1a1a; /* Un gris muy oscuro en lugar de negro puro */
    color: #fff;
  }
  
  /* Botones */
  .high-contrast button {
    background-color: #ffeb3b; /* Amarillo brillante para los botones */
    color: #000;
    border: 2px solid #fff;
  }
  
  /* Textos y enlaces */
  .high-contrast a,
  .high-contrast p,
  .high-contrast h1, h2, h3, h4, h5, h6,
  .high-contrast span {
    color: #fff; /* Mantén el texto blanco para el contraste */
  }
  


  /*DONAR*/
  .donation-container {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 3rem;
}

.why-donate, .account-details {
    flex: 1;
    padding: 1rem;
    border-radius: 8px;
    text-align: start;
}

.why-donate h2, .account-details h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
    border-bottom: 3px solid #C6A4CF;
    padding-bottom: 0.5rem;
}

.why-donate p, .account-details p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.account-details p strong {
    color: #FF8792;
}

/* Estilos del botón de donar */
.donate-button-container {
    text-align: center;
}

.donate-box {
    background-color: #FF8792;
    padding: 2rem;
    border-radius: 10px;
    color: white;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.donate-box p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.donate-button {
    padding: 0.8rem 2rem;
    background-color: #C6A4CF;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.donate-button:hover {
    background-color: #8D6BAA;
}

/* Media queries para adaptabilidad */
@media (max-width: 768px) {
    .donation-container {
        flex-direction: column;
    }

    .donate-box {
        padding: 1rem;
    }
}


/* voluntariado */
.voluntariado-titulo {
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin-top: 200px;
}

.voluntariado-titulo h2 {
    color: #333;
    text-align: center;
    font-size: 40px;
}

.voluntariado-titulo p {
    color: #666;
    text-align: center;
    max-width: 800px;
    margin: 30px auto;
    font-size: 25px;
}

.imagen-voluntariado {
    width: 80%;
    margin: 0 auto;
}

.imagen-voluntariado img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

@media (max-width: 768px) {
    .imagen-voluntariado {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .imagen-voluntariado {
        width: 100%;
    }
}



.voluntariado-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 50px;
    background-color: #f9f9f9;
}


.voluntariado-profesional, .voluntariado-artistico {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


.voluntariado-profesional:hover, .voluntariado-artistico:hover {
    transform: scale(1.05);
}


.voluntariado-profesional h3, .voluntariado-artistico h3 {
    font-size: 28px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: #333;
}

.voluntariado-profesional h3 i, .voluntariado-artistico h3 i {
    font-size: 32px;
    color: #c6a4cf;
    margin-right: 10px;
}


.voluntariado-profesional p, .voluntariado-artistico p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}


.voluntariado-profesional ul, .voluntariado-artistico ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.voluntariado-profesional ul li, .voluntariado-artistico ul li {
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #555;
}

.voluntariado-profesional ul li:before, .voluntariado-artistico ul li:before {
    content: "\2022";
    color: #c6a4cf;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-right: 10px;
}

/* Botones de postulación */
.button-postulate {
    background-color: #c6a4cf;
    color: white;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-postulate:hover {
    background-color: #f9c5ce;
    transform: scale(1.1);
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
    .voluntariado-info {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .voluntariado-profesional, .voluntariado-artistico {
        padding: 20px;
    }

    .voluntariado-profesional h3, .voluntariado-artistico h3 {
        font-size: 24px;
    }

    .voluntariado-profesional p, .voluntariado-artistico p {
        font-size: 16px;
    }
}