/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para el formulario */
.team-form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Botón de Volver */
.btn-back {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-back:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

/* Etiquetas y campos del formulario */
.team-form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.team-form input[type="text"],
.team-form input[type="file"],
.team-form select,
.team-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

/* Estilo para campos de formulario en foco */
.team-form input[type="text"]:focus,
.team-form input[type="file"]:focus,
.team-form select:focus,
.team-form textarea:focus {
    border-color: #007BFF;
    border: 2px solid #007BFF;
    outline: none;
}

/* Botón de envío */
.team-form input[type="submit"] {
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.team-form input[type="submit"]:hover {
    background-color: #0051ff;
}

/* Estilos para la tabla de usuarios */
.users-table {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    width: 95%;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.users-table table {
    width: 100%;
    border-collapse: collapse;
}

.users-table th, 
.users-table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

/* Fijar el ancho de la columna que contiene las acciones */
.users-table td.actions {
    width: 150px;
    white-space: nowrap;
}

/* Controlar el texto en columnas largas */
.users-table td {
    word-break: break-word;
    max-width: 300px;
    overflow: hidden;
}

.users-table td .truncate {
    display: block;
    max-height: 100px;
    overflow-y: auto;
}

.users-table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

.users-table tr:hover {
    background-color: #f9f9f9;
}

.users-table img {
    border-radius: 4px;
    max-width: 50px;
}

.users-table--edit, 
.users-table--delete {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 14px;
}

.users-table--edit {
    background-color: #4CAF50;
    color: #fff;
    transition: background-color 0.3s ease;
}

.users-table--edit:hover {
    background-color: #45a049;
}

.users-table--delete {
    background-color: #f44336;
    color: #fff;
    transition: background-color 0.3s ease;
}

.users-table--delete:hover {
    background-color: #e53935;
}

.users-table td.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .team-form {
        width: 100%;
        padding: 15px;
        margin: 10px 0;
    }
    
    .btn-back {
        font-size: 14px;
        padding: 8px 16px;
    }

    .users-table {
        display: none; /* Ocultar la tabla de usuarios en pantallas pequeñas */
    }

    .users-table td.actions {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .users-table--edit, .users-table--delete {
        margin-bottom: 5px;
    }
}
